@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@media only screen and (min-width: 1280px)
{
    body{
        background-color:#333333;
    }
    .logo{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .options{
        color: white;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        margin-top: 75px; 
        text-align: center
        
    }
    .table_reservation{
        font-size: 20px;
        margin-top: 50px;
        background-color:#B59571 ;
        padding: 20px 40px;
        width: 157px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu{
        margin-top: 40px;
    }
    .delivery{
        margin-top: 40px;
    }
    .payment{
        margin-top: 40px;
    }
    .social_media{
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center
    }
}